{% extends 'base.html' %}
{% block title %}Добавить категорию{% endblock %}
{% block link1 %}<a class="nav-link" href="{% url 'catalog' %}">Каталог</a>{% endblock %}
{% block link2 %}<a class="nav-link" href="{% url 'category_list' %}">Категории</a>{% endblock %}
{% block content %}
    <h1>Добавить товар</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить категорию</button>
    </form>
{% endblock %}
